/* General statements */
html {
max-width : 1600px;
margin: auto;
background: url(../img/11254.jpg) center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-left : 0px;
margin-right : 0px;
margin-top : 0px;
display : flex;
flex-direction : column;
justify-content : center;
/* DIMENSIONS */

width : 1600px;
font-family: 'Press Start 2P', cursive;
font-size : 12px;
color : black;

}


body 
{
	max-width : 1600px;
	/* DIMENSIONS */
	background-color : transparent !important;
	margin-left : 0px;
	margin-right :0px;
}
/*
header, nav, aside, footer, section {
	border: 0px solid black;
}
*/
@keyframes rotateAnim {
    from {transform: rotateY(0);}
	to {transform: rotateX(360deg);}

}

.rotate {
	
     animation: rotateAnim 10s backwards infinite;
}




.blue
{
	color:blue;
}
.white 
{
	color: white;
}
.black 
{
	color : black;
}
	/* HEADER */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
header {
	margin : 0 auto;
	margin-top: 30px;
	height: 150px;
	width : 1000px;

	display : flex;
margin-bottom : 60px;
}
header img
{
	width : 50px;
	height : 80px;
}
/* NAV */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
nav {
	width: 100%;
	height: 50px;
/*	display: flex;*/
display : none !important;
}


/*
.btn-dark:hover
{
	color : blue !important;
	font-size : 24px;
}
*/
/* ASIDE */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
aside {
	width: 250px;
	float: left;
	z-index : 3;
	margin-left : 10px;
}
.btn-dark
{
	color : red !important;
}

.nav-link-hover
{
	display : none;
}

.nav-item2:active > .nav-link-hover
{
	display : block !important ;
	z-index : 4;
	
}
.nav-item2:hover > .nav-link-hover
{
	display : block !important ;
	z-index : 5;
}
.nav-item
{
	
	width : 50%;
}
.nav-item2
{
	display : flex;
}
/* SECTION */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
#AJS87
{
	color : white;
}
section {
	color : black;
	font-size : 14px;

	width: 100%px;
	float: left;
	min-height: 100px;
display:flex;
flex-direction: column;
}

section h1 
{
	font-size : 15px;
}
.presentation 
{
	
	/*border-radius: 95px 95px 95px 95px;
-moz-border-radius: 95px 95px 95px 95px;
-webkit-border-radius: 95px 95px 95px 95px;
border: 1px solid #000000;*/
margin-bottom : 50px;
font-weight:bold;


/*
background: rgba(23,38,54,1);
background: -moz-linear-gradient(left, rgba(23,38,54,1) 0%, rgba(23,38,54,0.75) 53%, rgba(25,44,67,0.53) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,38,54,1)), color-stop(53%, rgba(23,38,54,0.75)), color-stop(100%, rgba(25,44,67,0.53)));
background: -webkit-linear-gradient(left, rgba(23,38,54,1) 0%, rgba(23,38,54,0.75) 53%, rgba(25,44,67,0.53) 100%);
background: -o-linear-gradient(left, rgba(23,38,54,1) 0%, rgba(23,38,54,0.75) 53%, rgba(25,44,67,0.53) 100%);
background: -ms-linear-gradient(left, rgba(23,38,54,1) 0%, rgba(23,38,54,0.75) 53%, rgba(25,44,67,0.53) 100%);
background: linear-gradient(to right, rgba(23,38,54,1) 0%, rgba(23,38,54,0.75) 53%, rgba(25,44,67,0.53) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172636', endColorstr='#192c43', GradientType=1 );
*/


}
.presentation p 
{
	text-align : center;
}
.presentation h1 
{
	text-align : center;
}
.enonce
{
	width : 100%;
	height : 100%;
	
}
.pseudocode
{
	margin-top : 80px;
}
#showcodebloc
{

}
#showJS
{
	display : none;
}
#showjquery
{
	display : none;
}
#showphp
{
	display:none;
}
.execution
{
	text-align : center;
	/*border-radius: 95px 95px 95px 95px;
	-moz-border-radius: 95px 95px 95px 95px;
	-webkit-border-radius: 95px 95px 95px 95px;
	border: 1px solid #000000;*/
	width : 120%;
}

#contenue
{
	height : 300px;
}
/*
#JS
{
	display : none;
}
#php
{
	display : block;
}
#jquery
{
	display : none;
}
*/
#sommePayee 
{
display: block;

}

/* CLASS A OUTILS */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
.nes-bulbasaur .whiteBackground
{
	background-color : white !important ;
}


/* NES CSS SECTION */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/

 .title
{
	font-size : 18px !important;
	
}

.nes-container
{
	background-color : white;
	color : black;
	
}
.nes-balloon
{
	color : black;

}
.nes-field 
{
	width : 1000px !important;
	background-color:#212529;
	padding: 1rem;
}

.nes-icon .linkedin .is-large
{
	font-size : 12px !important;
}
.nes-bulbasaur
{
	
	height : 100px !important;
	width : 100px !important;
	background-color : black ;
}
.nes-squirtle
{
	height : 100px !important;
	width : 100px !important;
	background-color : black ;
}
/* DAMIER 817 */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
.caseNoir
{
	height : 100px;
	width : 100px;
	background-color : black;
	border: 1px black;
	/*position : absolute;*/

}
.caseRouge 
{
	background-color : red;
	height : 100px;
	width : 100px;
	/*position : absolute;*/
}
.flexligne 
{
	display : flex;
}
.pieceNoir
{ z-index : 15;
	background-color : blue;

	height : 100px;
	width : 100px;
	/*position : relative;
	left:0px;
	bottom : 0px;
	right :0px;
	top : 0px;*/
}
.caseNoirBorder
{
	z-index : 1000;
	background-color : black;

	height : 100px;
	width : 100px;
	border : 2px solid green;

}
.tortank
{
	height : 100px;
	width : 100px;
	background-image : url(../img/tortank2.png);
}
.florizare
{
	height : 100px;
	width : 100px;
	background-image : url(../img/flotest.png);
	background-color : black;
}
.nes-pokeball
{
	height : 100px !important;
	width : 100px !important;
	background-color : black !important;
}
.nes-kirby
{
	height : 100px !important;
	width : 100px !important;
	background-color : black !important;
}


/* FOOTER */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/

footer {
	height: 50px;
	clear: both;
	
}

/* RESPONSIV */
/* ~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~*/
/* Tablettes 'n' Mobiles */


@media all and (min-width : 2200px) and (max-width: 2500px)
{

    html{
		width : 2500px;
		max-width : 2500px;
	}
	body 
	{
		width : 2500px;
		max-width : 2500px;
	}
}
@media all and (min-width : 1351 px) and (max-width: 1900px)
{

    html{
		width :1900px;
		max-width : 1900px;
	}
	body 
	{
		width : 1900px;
		max-width : 1900px;
	}
}
